*,
html {
    margin: 0;
    padding: 0%;
}

.container {
    background-color: aqua;
}

.container-navbar {
    background-color: purple;
    width: 100%;
    height: 100px;
}

.ul-navbar {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 10px;
    margin: 5px;
    color: white;
}

.li-navbar:hover {
    background-color: white;
    transition: .5s ease-in-out;
    transition-delay: .2s;
    border-radius: 8px;
}

a:link {
    color: pink;
}

a:visited {
    color: pink;
}

a:hover {
    color: pink;
}

.a-navbar {
    text-decoration: none;
}

.container-content {
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content {
    background-color: purple;
    color: pink;
    width: 16cm;
    height: 16cm;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
    justify-content: center top;
    align-items: center;
}

.contentmain {
    font-size: 64px;
}

.diffcolor {
    color: white;
}

.fig {
    color: black;
    text-shadow: none;
    font-weight: normal;
}

.img-content {
    width: 60%;
    height: 60%;
    justify-content: space-around;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    height: 10vh;
}

.a-footer {
    background-color: purple;
}

.img-footer {
    width: 30px;
    height: 30px;
    justify-content: space-evenly;
    color: black;
}

.h1-footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
}